<ion-view view-title="我的账户" hide-nav-bar="true">
	 <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
	<style type="text/css">
		.myself-list{margin-bottom: 10px;}
		.item-box{padding-top: 5px; padding-bottom: 5px; padding-left: 50px;}
	</style>
	<div class="bar bar-header assertive-bg bar_color">
		  <h1 class="title" style="color: #fff; font-weight: bold;">我的账户</h1>
		  <button class="button button-energized">切换用户</button>
		</div>
  <ion-content class='has-header'>
    <div class="row responsive-sm padding">
    	<div style="height: 1rem;"></div>
  		<h2 style="text-align: center; font-size: 24px;">欢迎来到天宝来商城</h2>
  		<p  style="text-align: center; font-size: 16px;">
  			<a href="#/tab/login">登陆</a>/
  			<a href="#/tab/register">注册</a>
  		</p>
  		<div class="list myself-list">
				   <a class="item item-icon-left item-box" href="#">
					    <i class="icon ion-email"></i>
					    订单查询
					 </a>
  		</div>
  		<div class="list">
				   <a class="item item-icon-left item-box" href="#">
					    <i class="icon ion-email"></i>
					    会员基本信息
					 </a>
					 <a class="item item-icon-left item-box" href="#">
					    <i class="icon ion-email"></i>
					    我的收藏
					 </a>
					 <a class="item item-icon-left item-box" href="#">
					    <i class="icon ion-email"></i>
					    服务会员
					 </a>
					 <a class="item item-icon-left item-box" href="#">
					    <i class="icon ion-email"></i>
					    管理地址
					 </a>					 
  		</div>
  	</div>
  </ion-content>
</ion-view>
