<ion-view view-title="登陆" hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
		.btn{padding: 10px;}
	</style>
	<div class="bar bar-header assertive-bg bar_color">
		<button class="button-clear">
			<a href="#/tab/myself" style="color: #fff;"><i class="icon ion-ios-arrow-left"></i></a>
		</button>		
		  <h1 class="title" style="color: #fff; font-weight: bold;">登录</h1>
		  <button class="button button-energized">注册</button>
	</div>
	<ion-content class="has-header responsive-sm">
		<div class="list list-inset">
		  <label class="item item-input">
		  	<i class="icon ion-android-person"></i>
		    <input type="text" placeholder="用户名">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-android-lock"></i>
		    <input type="password" placeholder="密码">
		  </label>
		</div>
		<div class="loginButton btn">
  			<button class="button button-block button-assertive">立即登录 </button> 			
  		</div>
	</ion-content>
	
</ion-view>
