<ion-view view-title="更多" hide-nav-bar="true">
	<style type="text/css">
		.more-list{margin: 10px 10px;}
	</style>
	 <div class="bar bar-header assertive-bg bar_color">
		  <h1 class="title" style="color: #fff; font-weight: bold;">更多</h1>
		</div>
  <ion-content>
  	<div style="height: 1rem;"></div>
     <div class="list list-inset more-list">
			    <div class="item">
			      修改密码
			    </div>
			     <div class="item">
			      个人信息
			    </div>
			</div>
			<div class="list list-inset more-list">
			    <div class="item">
			      关于我们(天宝来)
			    </div>
			     <div class="item">
			      邀请好友使用"天宝来"
			    </div>
			    <div class="item">
			      当前版本号 01.03.0005
			    </div>
			     <div class="item">
			      联系客服
			    </div>			   
			</div>
			 <div class="loginButton"  style="padding: 0 10px;"> 
  				<button class="button button-block button-assertive">退出登陆</button>
  			  </div>
  </ion-content>
</ion-view>